@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-md-6">
        <div>
            <canvas id="uploadChart"></canvas>
        </div>
        <div>
            <canvas id="categories"></canvas>
        </div>

    </div>

</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript">
        $(function () {

            var ctx = document.getElementById("uploadChart").getContext('2d');
            var uploadChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ["CPMG211", "CPMG212", "CPMG213", "CPMG214"],
                    datasets: [{
                        backgroundColor: ["#2ecc71", "#3494db", "#95a5a6", "9b59b6"],
                        data: [5,10,1,20]
                    }]
                }
            })

            var btx = document.getElementById("categories").getContext('2d');
            var categories = new Chart(btx, {
                type: 'pie',
                data: {
                    labels: ["Apprenticeship", "Bursary", "Graduate Programe", "Internship", "Learnership"],
                    datasets: [{
                        backgroundColor: ["#00FFFF", "#00008B", "DC143C", "#8B0000", "#00BFFF"],
                        data: [1, 1, 1, 1, 1]
                    }]
                }
            })

        })
        
        
    </script>

}